<template>
	<div class="finder">
		<p class="finder_title">Поиск клиента в АФМ</p>
		<input
			v-model="iin"
			v-mask="'### ### ### ###'"
			type="text"
			placeholder="Введите ИИН"
			:class="{
				invalid_input:
					$v.iin.$dirty && (!$v.iin.required || !$v.iin.length),
			}"
		/>
		<button @click="searchIin">{{ btn_text }}</button>
		<div v-if="result.text" class="result">
			<p :class="{ color: result.color }">{{ result.text }}</p>
			<p>Проведение сделок с данным клиентом возможно</p>
		</div>
		<p class="footer_text" :style="!result.text ? 'margin-top: auto' : ''">
			Сервис позволяет найти клиента в списке агенства финансового
			мониторинга
		</p>
	</div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
export default {
	data: () => ({
		iin: "",
		btn_text: "Выполнить поиск",
		result: {
			text: "",
			color: "",
		},
	}),
	validations: {
		iin: {
			required,
			length: minLength(15),
		},
	},
	methods: {
		async searchIin() {
			if (this.$v.$invalid) {
				this.$v.$touch();
				return;
			}
			// тут должен быть ссылка на запрос
			await fetch("https://afmrk.gov.kz/blacklist/export/active/xml", {
				mode: "no-cors",
			})
				.then((res) => {
					// response => json obj
					// В замисимости от ответа сервера будет выведен результат поиска клиента
					if (res) {
						// если иин не обнаружен то
						this.result = {
							text: "Клиент не обнаружен",
							color: "#3E60B6",
						};
					} else {
						// иначе
						this.result = {
							text: "Клиент обнаружен",
							color: "#F01414",
						};
					}
				})
				.catch((err) => {
					console.log(err);
				})
				.finally(() => {
					this.btn_text = "Выполнить новый поиск";
				});
		},
	},
};
</script>

<style lang="scss" scoped>
.finder {
	width: 100%;
	height: 100vh;
	background: #f5f5f5;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 47px 20px 42px 19px;

	&_title {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		margin-bottom: 38px;
	}

	input {
		width: 100%;
		max-width: 336px;

		display: flex;
		align-items: center;
		padding: 24px 22px;

		border: 1px solid #f4dbdb;
		border-radius: 5px;
		outline: none;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_5)'%3E%3Cpath d='M9.50001 12.0333C10.8991 12.0333 12.0333 10.8991 12.0333 9.50001C12.0333 8.10089 10.8991 6.96667 9.50001 6.96667C8.10089 6.96667 6.96667 8.10089 6.96667 9.50001C6.96667 10.8991 8.10089 12.0333 9.50001 12.0333Z' fill='black'/%3E%3Cpath d='M7.12501 1.58334L5.67626 3.16668H3.16668C2.29584 3.16668 1.58334 3.87918 1.58334 4.75001V14.25C1.58334 15.1208 2.29584 15.8333 3.16668 15.8333H15.8333C16.7042 15.8333 17.4167 15.1208 17.4167 14.25V4.75001C17.4167 3.87918 16.7042 3.16668 15.8333 3.16668H13.3238L11.875 1.58334H7.12501ZM9.50001 13.4583C7.31501 13.4583 5.54168 11.685 5.54168 9.50001C5.54168 7.31501 7.31501 5.54168 9.50001 5.54168C11.685 5.54168 13.4583 7.31501 13.4583 9.50001C13.4583 11.685 11.685 13.4583 9.50001 13.4583Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_5'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			pointer-events: none;
		}
	}
	button {
		width: 100%;
		max-width: 336px;
		height: 53px;

		display: flex;
		justify-content: center;
		align-items: center;

		background: #cbe3e9;
		border-radius: 6px;

		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #000000;

		border: none;
		outline: none;

		margin-top: 9px;
	}
}
.result {
	margin: auto 0;
	max-width: 209px;
	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		&:first-child {
			color: #3e60b6;
		}
		&:last-child {
			margin-top: 22px;
			color: #a7b3d2;
		}
	}
}
.footer_text {
	max-width: 282px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #b58080;
}
.invalid_input {
	border: 1px solid #cf433a !important;
}
</style>
