@font-face {
	font-family: "Inter";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}

* {
	font-family: "Inter";
	font-weight: 400;
	font-style: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
