<template>
	<div id="app">
		<Finder />
	</div>
</template>

<script>
import Finder from "./components/Finder.vue";

export default {
	name: "App",
	components: {
		Finder,
	},
};
</script>

<style>
@import "assets/main.scss";
</style>
